main {
    height: 85vh;
}

#formu_login {
    margin-top: 50px;  
    display: flex; 
    justify-content: center; 
}

#formLogin {
    display: flex;
    flex-direction: column;
    width: 600px;
}

#formu_password {
    margin-top: 50px;
    display: flex; 
    justify-content: center;
}

#formPassword {
    display: flex;
    flex-direction: column;
    width: 600px;
}

h2 {
    margin-left: 30px;
    color: #063F88;
    font-family: Arial, Helvetica, sans-serif;
}

.bouton {
    border-radius: 5px;
    margin-top: 15px;
    width: 100px;
    height: 40px;
    margin-left: 250px;
    color: white;
    background-color: rgba(223, 12, 12, 0.884);
}

#confirmPass {
    margin-top: 10px;;
}

.entete {
    width: 600px;
    border-radius: 5px;
}

.titre {
    font-family: Arial, Helvetica, sans-serif;
}

.champs {
    height: 25px;
}